:root {
    --color-button: rgb(6, 90, 38);
    --color-button-hover: rgba(6, 90, 38, 0.486);
}

* {
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    overflow: hidden;
    width: 70vw;
    height: 70vh;
    background-color: rgb(214, 255, 221);
    box-shadow: black 4px 4px 7px;
    border-radius: 10px;
    padding: 15px;
}

footer {
    font-size: 0.8em;
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--color-button);
    font-weight: bold;
}

a:hover {
    color: var(--color-button-hover);
}

#resultados {
    padding: 20px;
    border-radius: 10px;
    margin-top: 50vh;
    background-color: rgba(0, 0, 0, 0.253);
    text-align: center;
}